- if notice.present?
  %p.alert.alert-success= notice
%h4= @tracked_card.link_to_trello_card
%p= "created #{@tracked_card.created_at}, last update #{@tracked_card.updated_at}"
%p= "Total effort: #{@tracked_card.total_effort} hours"
- if @tracked_card.last_estimate_error.present?
  %p= "Estimate error: #{@tracked_card.last_estimate_error}%"
%p Efforts:
%ul
  - @tracked_card.efforts.order_by(:date.desc).each do |effort|

    %li #{effort.date.strftime("%d.%m.%Y")}: #{effort.members.map(&:username).join(", ")} spent #{effort.amount} hours (#{@tracked_card.link_to_delete_effort(effort)}) (#{@tracked_card.link_to_edit_effort(effort)})

- if @tracked_card.estimates.present?
  %p Estimates:
  %ul
    - @tracked_card.estimates.order_by(:date.desc).each do |estimate|
      %li= "#{estimate.date.strftime("%d.%m.%Y")}: estimated #{estimate.amount.to_s} remaining hours"
- else
  %p No estimates

= link_to 'Edit', edit_tracked_card_path(@tracked_card)
|
= link_to 'Back', tracked_cards_path
