<%= form_for([@tracked_card, @effort]) do |f| %>
  <% if @effort.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@effort.errors.count, "error") %> prohibited this tracked_card from being saved:</h2>

      <ul>
      <% @effort.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount, :class => 'span1' %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date, { :order =>  [:day, :month, :year] }, :class => 'span1' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
