!!! 5
%html
  %head
  %meta{ :content => "", :name => "description" }
  %meta{ :content => "Pietro Di Bello", :name => "author" }
  %meta{ :content => "3 days", :name => "revisit-after" }
  %title= "Trello Effort Application"
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags

  %body
    = render template:'layouts/menu-header'
    .container-fluid
      .row-fluid
        - if notice.present?
          %p.alert.alert-success= notice
        = yield
      = render template: 'layouts/footer'
